@font-face {
    font-family: 'UsmanNastaleeq';
    src: url('UsmanNastaleeq.eot?#') format('embedded-opentype'),
         url('UsmanNastaleeq.woff') format('woff'),
         url('UsmanNastaleeq.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#hnfont {
    font-family: 'UsmanNastaleeq';
    font-size: x-large;
}
